%p Сообщаем вам, что ваша анкета-заявка была подтверждена администраторами конкурса. Вскоре она будет опубликована. Дальнейшие новости отслеживайте на сайте #{link_to('http://ul-lider.ru', 'http://ul-lider.ru')}.
%p С уважением, орг. комитет конкурса "Я-лидер!".
