!!!
%html
  %head
    %title
      Подтверждение заявки на "Ярмарку идей"
    :css
      #outlook a {padding:0;}
      body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
      .ExternalClass {width:100%;}
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
      #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
      img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
      a img {border:none;}
      .image_fix {display:block;}
      p {margin: 0px 0px !important;}
      table td {border-collapse: collapse;}
      table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
      table[class=full] { width: 100%; clear: both; }
      @media only screen and (max-width: 640px) {
        a[href^="tel"], a[href^="sms"] {
          text-decoration: none;
          color: #ffffff;
          pointer-events: none;
          cursor: default;
        }
        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
          text-decoration: default;
          color: #ffffff !important;
          pointer-events: auto;
          cursor: default;
        }
        table[class=devicewidth] {width: 440px!important;text-align:center!important;}
        table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
        table[class="sthide"]{display: none!important;}
        img[class="bigimage"]{width: 420px!important;height:219px!important;}
        img[class="col2img"]{width: 420px!important;height:258px!important;}
        img[class="image-banner"]{width: 440px!important;height:106px!important;}
        td[class="menu"]{text-align:center !important; padding: 0 0 10px 0 !important;}
        td[class="logo"]{padding:10px 0 5px 0!important;margin: 0 auto !important;}
        img[class="logo"]{padding:0!important;margin: 0 auto !important;}
      }
      @media only screen and (max-width: 480px) {
        a[href^="tel"], a[href^="sms"] {
          text-decoration: none;
          color: #ffffff;
          pointer-events: none;
          cursor: default;
        }
        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
          text-decoration: default;
          color: #ffffff !important;
          pointer-events: auto;
          cursor: default;
        }
        table[class=devicewidth] {width: 280px!important;text-align:center!important;}
        table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
        table[class="sthide"]{display: none!important;}
        img[class="bigimage"]{width: 260px!important;height:136px!important;}
        img[class="col2img"]{width: 260px!important;height:160px!important;}
        img[class="image-banner"]{width: 280px!important;height:68px!important;}

      }
  %body
    .block
    .block
    .block
    .block
    .block
    .block
    .block
    .block
    .block
    .block
    .block
    %table{bgcolor: "#f6f4f5", border: "0", cellpadding: "0", cellspacing: "0", "st-sortable" => "bigimage", width: "100%"}
      %tbody
        %tr
          %td
            %table.devicewidth{align: "center", bgcolor: "#ffffff", border: "0", cellpadding: "0", cellspacing: "0", hasbackground: "true", width: "580"}
              %tbody
                %tr
                  %td{height: "20", width: "100%"}
                %tr
                  %td
                    %table.devicewidthinner{align: "center", border: "0", cellpadding: "0", cellspacing: "0", width: "540"}
                      %tbody
                        %tr
                          / start of image
                          %td{align: "center"}
                            .imgpop
                              %a{href: "#"}
                                %img#42f085c7kyjsjor.bigimage{alt: "", border: "0", height: "360", src: "http://ul-lider.ru/confirmation_idea_fair.jpg", "st-image" => "edit", style: "display:block; border:none; outline:none; text-decoration:none;", width: "540"}/
                        / end of image
                        / Spacing
                        %tr
                          %td{height: "20", width: "100%"}
                        / Spacing
                        / title
                        %tr
                          %td{"st-title" => "rightimage-title", style: "font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #333333; text-align:left;line-height: 20px;"}
                            %p
                              Поздравляем,
                              = @user.first_name
                              \! Твоя заявка на профильную смену "Ярмарка идей" одобрена орг. комитетом!
                        / end of title
                        / Spacing
                        %tr
                          %td{height: "20", width: "100%"}
                        / Spacing
                        / content
                        %tr
                          %td{"st-content" => "rightimage-paragraph", style: "font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #95a5a6; text-align:left;line-height: 24px;"}
                            %p
                              %span{style: "color: rgb(0, 0, 0); font-family: Helvetica, arial, sans-serif; letter-spacing: 0.100000001490116px; line-height: 23.9980010986328px; text-align: justify; background-color: rgb(242, 242, 244);"} На профильную смену «Ярмарка идей» с собой необходимо взять:
                            %ol{style: "margin-bottom: 11.5px; color: rgb(0, 0, 0); font-family: Helvetica, arial, sans-serif; letter-spacing: 0.100000001490116px; line-height: 23.9980010986328px; text-align: justify;"}
                              %li
                                Организационный взнос. Для участников, прошедших во II этап конкурса «Я-лидер!» -
                                %span.text-warning{style: "color: rgb(255, 152, 0);"} 1100 рублей
                                \. Оплачивается по приезду в лагерь.
                              %li
                                Организационный взнос. Для всех остальных слушателей программы смены -
                                %span.text-warning{style: "color: rgb(255, 152, 0);"} 1400 рублей
                                \. Оплачивается по приезду в лагерь.
                              %li
                                Заявление о приёме ребёнка в центр "Юность"
                                %a{href: "http://localhost:3000/%D0%97%D0%B0%D1%8F%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%BD%D0%B0%20%D0%BF%D1%80%D0%B8%D1%91%D0%BC%20%D0%B8%20%D0%BE%D0%B1%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D1%83%20%D0%BF%D0%B5%D1%80%D1%81%D0%BE%D0%BD%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D1%85%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85.pdf", style: "color: rgb(33, 150, 243); -webkit-transition: all 0.2s; transition: all 0.2s; background-color: transparent;"} (СКАЧАТЬ)
                              %li
                                Договор с родителем
                                %a{href: "http://localhost:3000/%D0%94%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%20%D1%81%20%D1%80%D0%BE%D0%B4%D0%B8%D1%82%D0%B5%D0%BB%D1%8F%D0%BC%D0%B8.docx", style: "color: rgb(33, 150, 243); -webkit-transition: all 0.2s; transition: all 0.2s; background-color: transparent;"} (СКАЧАТЬ)
                              %li
                                Справка с места учёбы (её оформить необходимо в приёмной директора образовательной организации)
                              %li
                                Ксерокопия свидетельства о рождении или паспорта ребенка
                              %li
                                Ксерокопия медицинского полиса
                              %li
                                Информированное добровольное согласие на виды медицинских вмешательств
                                %a{href: "http://localhost:3000/%D0%A1%D0%BE%D0%B3%D0%BB%D0%B0%D1%81%D0%B8%D0%B5%20%D0%BD%D0%B0%20%D0%BC%D0%B5%D0%B4%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D1%8C.pdf", style: "color: rgb(33, 150, 243); -webkit-transition: all 0.2s; transition: all 0.2s; background-color: transparent;"} (СКАЧАТЬ)
                              %li
                                Медицинская справка по форме №079/у с указанием сведений об отсутствии педикулеза, чесотки, заразных кожных заболеваний, а также сведений об эпидокружении по дому и учебному заведению (берёте в участковой поликлинике или у школьной медсестры)
                              %li
                                Заверенный лечебным учреждением Сертификат о профилактических прививках по форме № 156/у-93 (либо ксерокопию)
                              %li
                                Дети, достигшие 15-летнего возраста, представляют сведения о прохождении флюорографического обследования за текущий календарный год
                              %li
                                Тёплые и спортивные вещи
                              %li
                                Средства личной гигиены
                            %p
                              %span{style: "color: rgb(0, 0, 0); font-family: Helvetica, arial, sans-serif; letter-spacing: 0.100000001490116px; line-height: 23.9980010986328px; text-align: justify;"} Напоминаем, дата и место встречи:
                              %strong{style: "color: rgb(0, 0, 0); font-family: Helvetica, arial, sans-serif; letter-spacing: 0.100000001490116px; line-height: 23.9980010986328px; text-align: justify;"} 19-23 февраля , г. Димитровград, ДООЦ "Юность".
                            %p
                              %span{style: "color: rgb(0, 0, 0); font-family: Helvetica, arial, sans-serif; letter-spacing: 0.100000001490116px; line-height: 23.9980010986328px; text-align: justify;"} По всем вопросам обращаться
                              %span.text-warning{style: "color: rgb(255, 152, 0); font-family: Helvetica, arial, sans-serif; letter-spacing: 0.100000001490116px; line-height: 23.9980010986328px; text-align: justify;"} 8-902-246-85-15 (Евгения)
                              %strong{style: "color: rgb(0, 0, 0); font-family: Helvetica, arial, sans-serif; letter-spacing: 0.100000001490116px; line-height: 23.9980010986328px; text-align: justify;"}
                            %p
                              %strong{style: "color: rgb(0, 0, 0); font-family: Helvetica, arial, sans-serif; letter-spacing: 0.100000001490116px; line-height: 23.9980010986328px; text-align: justify;"}
                        / end of content
                        / Spacing
                        %tr
                          %td{height: "10", width: "100%"}
                        / button
                        %tr
                          %td
                            %p
                              %span{style: "color: rgb(0, 0, 0); font-family: Helvetica, arial, sans-serif; letter-spacing: 0.100000001490116px; line-height: 23.9980010986328px; text-align: justify;"}
                                Подробности на сайте конкурса
                                %a{ href: 'http://ul-lider.ru' }
                                  http://ul-lider.ru
