%p Вы получили это письмо, потому что этот email указали при регистрации на сайте #{link_to('http://ul-lider.ru', 'http://ul-lider.ru')}. Если этот адрес принадлежит вам, и вы не производили никаких регистраций, никак не реагируйте на это письмо.
%p Если вы являетесь пользователем сайта "Я-лидер!" и отправляли запрос на восстановление пароля, то, пожалуйста, пройдите по #{link_to("ссылке", edit_password_url(reset_password_token: @user.reset_password_token))}.
%p С уважением, орг. комитет конкурса "Я-лидер!".
