<div class="row for_news">
  <%last_news.each do |news| %>
    <div class="col-md-4 news link" data-href=<%= news_path(news) %>>
      <div class="title">
        <%= news.title %>
      </div>
      <div class="body">
        <%= image_tag news.photo %>
        <%= (strip_tags news.lead).html_safe %>
      </div>
    </div>
  <% end %>
</div>
