.popup.participant_popup#popup
  .close
    .btn.btn-branded
      X
  .top
    %h2.short_name
  .bottom
    .text
      Участник прошёл в финал конкурса XIV областного конкурса актива учащейся молодёжи «Я-лидер!» 2016 года.
    %table
      %tr
        %td.avatar
          = image_tag '', class: 'img-rounded'
        %td.info
          .age
          .home_city
          .school
          .average
    %hr
    .popup_social_buttons
      = render 'layouts/web/shared/social_buttons'
