= javascript_include_tag 'web/stages'
- title_is "Участники конкурса Я-лидер!"
.page-header
  %h2#title
    Участники конкурса Я-лидер!
  %h5
    В данный момент проходит оценка работ участников конкурса.
  %h5
    Подробнее вы можете прочитать в 
    = link_to 'положении конкурса', '/pages/provision'
%table.table.table-striped.table-condensed#participants
  %tbody
    %tr
      %td
        Фото
      %td
        Имя
      %td
        Муниципальное образование
#loading
  %h1
    %i.fa.fa-spin.fa-refresh.fa-3x
