= javascript_include_tag 'web/stages'
- title_is "Участники конкурса Я-лидер!"
.page-header
  %h2#title
    Участники конкурса Я-лидер!
%table.table.table-striped.table-condensed#participants
  %tbody
    %tr
      %td
        Фото
      %td
        Имя
      %td
        Муниципальное образование
#loading
  %h1
    %i.fa.fa-spin.fa-refresh.fa-3x
