.hat_text
  %p
    Здравствуй, дорогой друг! «Я - Лидер!» — это уникальная образовательная площадка Ульяновской области, которая способна подготовить из любого человека лидера общественного сектора. 
  %p
    На протяжении всего конкурса ты будешь проходить испытания, сможешь поработать с профессионалами своего дела, а также получишь определенный базис навыков и возможностей. 
  %h6
    %b
      Дерзай, мы в тебя верим! 
