.title
  font-size: 25px
.title,
.body,
.date
  float: left
  width: 100%
.title
  height: 35px
.date
  font-size: 12px
  margin-bottom: 25px
.body
  img
    &.main_photo
      float: left
      width: 50%
      margin-right: 15px
