.winners_images
  width: 100%
  padding-left: 0.6%
  padding-right: 0.6%
  height: 75px
  .winner_avatar
    width: 7.6%
    height: 100%
    border: 1px solid lightgray
    float: left
    background-repeat: no-repeat
    background-size: 100%
  .tooltip
    font-size: 10pt
    text-align: left
.title
  h1
    font-size: 34px
    text-align: center
.row
  &.first,
  &.second,
  &.third,
  &.for_news
    border-bottom: 1px solid lightgray
  &.second
    background-color: #fcd456
  .text,
  .image
    float: left
  .text
    font-size: 20px
    padding-top: 25px
    &.left
      text-align: left
      padding-left: 25px
    &.right
      text-align: right
      padding-right: 25px
  .image
    img
      width: 55%
      margin-top: 25px
    &.left
      img
        margin-left: 25px
    &.right
      img
        margin-left: 52px
  &.for_news
    margin-top: 35px
  .news
    padding-left: 10px
    padding-right: 10px
    .title
      font-family: bold_mic_font
      height: 30%
      width: 100%
      float: left
      text-align: center
      font-size: 15px
    .photo,
    .body
      height: 69%
      width: 100%
      float: left
    .body
      text-align: justify
      img
        width: 50%
        float: left
        margin-right: 10px
  .news:hover
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5)
  .news:first-child
    border-left: none
