.winners_images
  width: 100%
  padding-left: 2%
  padding-right: 2%
  height: 75px
  .winner_avatar
    width: 8%
    height: 100%
    border: 1px solid lightgray
    float: left
    background-repeat: no-repeat
    background-size: 100%
