# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f6a0e99476664dcb6f1257875ff0e63db2a608c90c49bc4ce16349c36ab99485ac7f8205d264ec6419476f74c48e951f0ff509a187c94a9886027d0b7865321a

test:
  secret_key_base: 908a422341013b35dadad72160a5423b0957476d784f50ebfcb1d8a10cc25a544b8958a1d4e7ab07f0e2261dfd64055e0d4b6f9c0dc20d4ca018d0e1f2b0f175

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
