- title_is
.page-header
  %h1
    = t('.title')
%p
  Здравствуй, участник III этапа конкурса актива учащейся молодежи «Я-лидер!» 2015 года. Позади уже осталось несколько этапов, но впереди тебя ждёт новое конкурсное испытание под названием «Время реальных дел». Профильная смена «Ярмарка идей» подарила тебе новые знания, новые связи и идеи, сейчас самое время показать на практике, чего ты стоишь на самом деле. На данном этапе тебе нужно
  %b ОРГАНИЗОВАТЬ СОБСТВЕННОЕ МЕРОПРИЯТИЕ
  и сделать отчёт по его проведению. Форма, подход, масштаб – всё на вкус и цвет каждого участника, для этого у тебя нет никаких рамок. Дерзай!
%p
  Напоминаем, что III этап продлится вплоть до 30 апреля 2015 года. Это значит, что до этого дня вам нужно провести мероприятие и загрузить отчёт на данный сайт. Обратите внимание, что перед проведением мероприятия, его нужно будет анонсировать на сайте до 29 марта. Менять что-либо в мероприятии после того, как вы его анонсировали, запрещается.
%p
  Критерии оценки III этапа конкурса актива учащейся молодежи «Я-лидер!» 2015 года
  %ul
    %li эффективность работы с командой
    %li целесообразность мероприятия
    %li актуальность идей, использованных в ходе реализации мероприятия, и реализованных целей
    %li оригинальность мероприятия
    %li применение нестандартных техник работы с аудиторией и механизмов реализации мероприятия
%p
  Удачи каждому! И помните, мечты созданы для того, чтобы сбываться. Не отступайте до самого конца!
- if current_user.event.present?
  = link_to t('.create_report'), new_account_event_report_path, class: 'btn btn-branded'
