- title_is
.page-header
  %h1
    = t('.title')
%p
  Здравствуй, участник 2 уровня II этапа конкурса актива учащейся молодежи «Я-лидер!» 2016 года. Позади уже осталось несколько этапов, но впереди тебя ждёт новое конкурсное испытание под названием «Время реальных дел». Профильная смена «Ярмарка идей» подарила тебе новые знания, новые связи и идеи, сейчас самое время показать на практике, чего ты стоишь на самом деле. На данном этапе тебе нужно РЕАЛИЗОВАТЬ СОБСТВЕННУЮ ПРОЕКТНУЮ ИДЕЮ, и сделать отчёт по её проведению. Форма, подход, масштаб – всё на вкус и цвет каждого участника, для этого у тебя нет никаких рамок. Дерзай!

%p
  Напоминаем, что 2 уровень II этапа продлится вплоть до 30 апреля 2015 года. Это значит, что до этого дня вам нужно реализовать проектную идею и загрузить отчёт на данный сайт. Обратите внимание, что перед проведением мероприятия, его нужно будет анонсировать на сайте до 29 марта. Менять что-либо в мероприятии после того, как вы его анонсировали, запрещается.

%p
  Критерии оценки 2 уровня II этапа конкурса актива учащейся молодежи «Я-лидер!» 2016 года

%ul
  %li актуальность мероприятия и форм его проведения для выбранной целевой группы участников;
  %li уровень и эффективность командного взаимодействия;
  %li проработанность мероприятия (согласованность цели и задач, чѐткое видение результатов, методическая проработанность);
  %li применение нестандартных форм работы с целевой группой и нестандартных механизмов реализации проектной идеи;
  %li результативность мероприятия (достижение измеримых результатов: количественных и качественных);
  %li привлечение спонсоров и партнеров для реализации проектной идеи;
  %li качество информационного сопровождения (количество и объѐм материалов, публикуемых в СМИ в период подготовки мероприятия и после него).

Оценка творческих отчѐтов будет проходить с 1 по 10 мая 2016 г. Максимальный балл, который ты сможешь получить по итогам 2 уровня II этапа конкурса – 25. На основании оценок жюри, 7 лучших конкурсантов допускаются до участия в 3 уровне II этапа Конкурса.

Удачи каждому! И помните, мечты созданы для того, чтобы сбываться. Не отступайте до самого конца!
%br
  = link_to t('.view_my_event'), event_path(current_user.current_event), class: 'btn btn-branded'
