/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrap-datetimepicker
 *= require glyphicons
 */

$contest_color: #fac416

.link
  cursor: pointer

@font-face
  font-family: bold_mic_font
  src: font-url('PFSquareSansPro-Medium.ttf')

@font-face
  font-family: mic_font
  src: font-url('PFBeauSansPro-Light.ttf')

body
  font-family: mic_font

footer
  border-top: 1px solid lightgray
  .logo
    float: left
    img
      width: 100%
  img.store_logo
    width: 100%
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12
    margin-bottom: 10px

input[type="checkbox"]
  margin: 10px

.pluso-more
  display: none !important
.pluso-wrap
  div
    background-color: $contest_color !important
.navbar
  background-color: $contest_color
.navbar-default
  .navbar-nav
    .active
      a,
      a:hover
        background-color: #E7AF00
.navbar-brand
  width: 189px
  img
    float: left
    margin-top: -19px
  span
    padding-top: 30px
    height: 100%
.navbar-header-image
  height: 60px
  margin-top: 2px
@media (max-width: 992px)
  footer
    img.store_logo
      width: 100%
    .logo
      img
        height: 100%
        width: auto
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12
      width: 49%
      height: 185px
      float: left
.btn
  &.btn-very-lg
    font-size: 15pt
.btn-branded
  background-color: $contest_color
  color: black
  &:hover
    color: black
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
