.hat_text
  %p
    Привет, участник профильной смены «Ярмарка идей»!
  %p
    Здесь ты можешь заполнить заявку на участие в профильной смене, которая проводится в рамках конкурса актива учащейся молодёжи «Я-лидер!» 2016 года.
  %p
    В программе "Ярмарки идей" тебя ждут мастер-классы и тренинги от экспертов компании HeadHunter , который выступает партнёром конкурса в этом году, от тренерского состава МИЦ, а также тренеров АТСМ РСМ из Москвы, Сергиев-Посада и Казани; психологические и развлекательные игры, дискотеки, обновленные конкурсные испытания, командная работа, массовые вечерние мероприятия и многое другое.
  %p
    Также в рамках 14-ой "Ярмарки идей" состоится празднование 9-летия Молодёжного инициативного центра и вручение корпоративной премии МИЦ - "Признание".
  %p
    В этом году для участия в смене проходит конкурсный отбор, так как помимо участников и слушателей образовательной программы на смене будут присутствовать непосредственные участники конкурса, которые прошли во II этап конкурса "Я-лидер".
  %p
    МИЦ компенсирует часть затрат на проживание, питание и раздаточный материал для участников конкурса, прошедших в следующий этап. Поэтому организационный взнос для конкурсантов, прошедших во II этап, составит
    %span.text-warning
      1100 рублей
    \, для остальных слушателей программы
    %span.text-warning
      1400 рублей
    \.
  %p
    Просим обратить ваше внимание на то, что участники добираются до центра "Юность" на транспорте, предоставленном муниципальным образованием. Со своей стороны МИЦ обязуется направить официальные письма во все администрации муниципальных образований, представители которых принимают участие в смене "Ярмарка Идей". В случае, если у участника смены по какой-либо причине не будет возможности добраться до центра "Юность" на транспорте муниципального образования, из г. Ульяновска будет организован транспорт за дополнительную плату.
  %p
    Напоминаем, что участие в образовательной профильной смене «Ярмарка идей» в качестве слушателя, не даёт возможности перейти в следующий этап конкурса и побороться за президентскую стипендию.
  %p
    На профильную смену «Ярмарка идей» с собой необходимо взять:
    %ol
      %li
        Организационный взнос. Для участников, прошедших во II этап конкурса «Я-лидер!» -
        %span.text-warning 1100 рублей
        , для всех остальных участников смены -
        %span.text-warning 1400 рублей
        \. В эту сумму входит проживание и питание в центре "Юность", а также обеспечение раздаточным материалом. Оплачивается по приезду в лагерь.
      %li
        Заявление о приёме ребёнка в центр "Юность"
        = link_to '(СКАЧАТЬ)', '/Dogovor_o_prieme_rebenka_v_tsentr.docx', target: '_blank'
      %li
        Договор с родителем (или законным представителем)
        = link_to '(СКАЧАТЬ)', '/Dogovor_s_roditelem.docx', target: '_blank'
      %li
        Справка с места учёбы (её оформить необходимо в приёмной директора образовательной организации)
      %li
        Ксерокопия свидетельства о рождении или паспорта ребенка
      %li
        Ксерокопия паспорта одного из родителей (или законных представителей)
      %li
        Ксерокопия медицинского полиса
      %li
        Информированное добровольное согласие на виды медицинских вмешательств
        = link_to '(СКАЧАТЬ)', '/Soglasie_na_meditsinskoe_vmeshatelstvo.docx', target: '_blank'
      %li
        Медицинская справка по форме №079/у с указанием сведений об отсутствии педикулеза, чесотки, заразных кожных заболеваний, а также сведений об эпидокружении по дому и учебному заведению (берёте в участковой поликлинике или у школьной медсестры)
      %li
        Заверенный лечебным учреждением Сертификат о профилактических прививках по форме № 156/у-93 (либо ксерокопию)
      %li
        Дети, достигшие 15-летнего возраста, представляют сведения о прохождении флюорографического обследования за текущий календарный год
  %p
    Напоминаем, дата и место встречи:
    %b
      19-23 февраля , г. Димитровград, ДООЦ "Юность".
  %p
    По всем вопросам обращаться
    %span.text-warning 8-902-246-85-15 (Евгения)
  .text-danger
    Участники, подавшие заявку на областной конкурс актива учащейся молодёжи «Я-лидер!», по умолчанию имеют заявку на смену «Ярмарка идей»! Участники конкурса, прошедшие во II этап, автоматически попадают на смену «Ярмарка идей», заявки не прошедших во II этап конкурсантов будут рассмотрены наравне с остальными заявками на смену. Если заявка на конкурс была подана, заявку на смену отправлять не нужно.
